<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yanhejin.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChildActivity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ChildActivity.FeatureType" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".FeatureView.fwselect"
            android:label="@string/jumindi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.dlselect"
            android:label="@string/daolu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.sxselect"
            android:label="@string/shuixi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.zbselect"
            android:label="@string/zhibei"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.gxselect"
            android:label="@string/guanxian"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.dmselect"
            android:label="@string/dimaohetuzhi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.jjxselect"
            android:label="@string/jingjiexian"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.dlzjselect"
            android:label="@string/diwubiaozhu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeatureView.wzselect"
            android:label="@string/wenzibiaozhu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExcelOutput.ConvertDataToExcel"
            android:label="@string/title_activity_convert_data_to_excel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".featurelist"
            android:label="@string/featurelist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChildActivity.newuser"
            android:label="@string/title_activity_newuser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".queryActivity"
            android:label="位置查询"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nf5iBEDrCrMPSbBhnneA5ZVyCiSxNUoK" />
    </application>


</manifest>
